/* Global CSS Custom Properties (aka. variables) */
html {
  --green: #27ae60;
  --orange: #f2994a;
  --black: #333333;
  --gray3: #828282;

  --shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 0 4px rgba(0, 0, 0, 0.05);
}

/* Tipography */
html {
  font-size: clamp(16px, 1.6vw, 18px);
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fafafa;
}

img {
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
